#wrapper_product {
    width: 100vw;
    /* border: 2px solid red; */
    height: 100%
}

/* Header */

#header {
    width: 100%;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#left_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 42%;
    min-height: 100%;
    border: 2px solid red;

}


#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 65%;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    border: 2px solid red;

}

.menu_item {
    width: fit-content;
    padding: 0 20px;
    height: 100%;
}

.menu_item:hover {
    color: aqua;
    font-weight: 700;
    border-bottom: 5px solid aqua ;
}

#right_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

#search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search input {
   width: 240px;
}

